<link rel="stylesheet" href="rodape.component.css">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Informações de contato</p>
                <p>Email: contato@gynvagas.com</p>
                <p>Telefone: (62) 3261-0135</p>
            </div>
            <div class="col-md-6">
                <p>Direitos autorais</p>
                <p>Todos os direitos reservados &copy; GynVagas 2024</p>
            </div>
        </div>
    </div>
</footer>
