<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle p-2">
  <a class="navbar-brand" href="#">Gyn Vagas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmpresa" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Empresa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownEmpresa">
          <a class="dropdown-item" routerLink="/cadastro-empresa" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastro de Empresa</a>
          <a class="dropdown-item" routerLink="/perfil-empresa" routerLinkActive="active" ariaCurrentWhenActive="page">Perfil</a>
          <a class="dropdown-item" routerLink="/cadastro-de-vagas" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastrar vagas</a>
          <a class="dropdown-item" routerLink="/tabela-de-vagas" routerLinkActive="active" ariaCurrentWhenActive="page">Listar vagas</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Curriculo" routerLinkActive="active" ariaCurrentWhenActive="page">Currículo</a>
      </li>
    </ul>
  </div>
</nav>


