<br>
<div class="tabela-vagas">
  <h2>Lista de Vagas</h2>
  <div class="vaga" *ngFor="let vaga of vagas">
    <div class="info">
      <div class="label">Nome:</div>
      <div class="value">{{ vaga.nome }}</div>
    </div>
    <div class="info">
      <div class="label">Descrição:</div>
      <div class="value">{{ vaga.descricao }}</div>
    </div>
    <div class="info">
      <div class="label">Empresa:</div>
      <div class="value">{{ vaga.empresa }}</div>
    </div>
    <div class="info">
      <div class="label">Contato:</div>
      <div class="value">{{ vaga.contato }}</div>
    </div>
    <div class="info">
      <div class="label">Salário:</div>
      <div class="value">R$ {{ vaga.salario }}</div>
    </div>
    <div class="actions">
      <button class="btn btn-outline-primary btn-editar" (click)="selecionarVaga(vaga)">Editar</button>
    </div>
  </div>
  <app-edita-vaga *ngIf="vagaSelecionada"
                  [vaga]="vagaSelecionada"
                  (edicaoCancelada)="cancelarEdicao()"
                  (vagaEditada)="atualizarVaga($event)"></app-edita-vaga>
</div>
