<div class="tabela-vagas">
  <h2>Lista de Vagas</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Empresa</th>
        <th>Contato</th>
        <th>Salário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaga of vagas">
        <td>{{ vaga.nome }}</td>
        <td>{{ vaga.descricao }}</td>
        <td>{{ vaga.empresa }}</td>
        <td>{{ vaga.contato }}</td>
        <td>R$ {{ vaga.salario }}</td>
      </tr>
    </tbody>
  </table>
</div>
