<link rel="pagina-home" href="pagina-home.component.css">
<div class="extras">
      <img class="mulher" src="public/img/woman-7175038_preview_rev_1.png" alt="" >
      <div class="social-media">
          <a href=""><img src="public/img/facebook.png" alt=""></a>
          <a href=""><img src="public/img/twitter.png" alt=""></a>
          <a href=""><img src="public/img/instagram.png" alt=""></a>
      </div> <!--social-media-->
  </div><!--extras-->
  <div class="center">
      <div class="texto-sobre">
          <h1>Olá, somos o Gynvagas,  <br> a plataforma de empregos<br> de <span style="color: #EA5455; font-size: 60px;">Goiânia</span>.</h1>
          <p>Queremos oferecer segurança e simplicidade na hora de procurar um emprego. Nosso objetivo é conectar pessoas interessadas em trabalhar e empresas que precisam divulgar suas vagas.
          </p>
          <a href="sobre.html"><button>Saiba mais</button></a>
      </div>
</div> <!--center-->

