<section class="hero">
  <div class="hero-image">
    <div class="hero-overlay"></div>
  </div>
  <div class="container">
    <div class="hero-content">
      <h2>Encontre a oportunidade ideal para você</h2>
      <p>Descubra vagas que combinam com você e sua carreira.</p>
      <a routerLink="/busca-de-vagas" class="cta-button">Explore Vagas</a>
    </div>
  </div>
</section>

<section class="why-choose">
  <div class="container">
    <h2>Por que escolher GynVagas?</h2>
    <ul>
      <li>Variedade de Oportunidades</li>
      <li>Facilidade de Navegação</li>
      <li>Atualizações Constantes</li>
    </ul>
  </div>
</section>

<section class="how-it-works">
  <div class="container">
    <h2>Como Funciona</h2>
    <p>Pesquisa Personalizada, Candidate-se com Facilidade, Fique Atualizado.</p>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <h2>Sobre Nós</h2>
    <p>GynVagas é a plataforma ideal para quem busca uma carreira de sucesso em Goiânia e região.</p>
     <a routerLink="/busca-de-vagas" class="cta-button">Explore Vagas</a>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>GynVagas</h2>
        <p>GynVagas é a plataforma ideal para quem busca uma carreira de sucesso em Goiânia e região.</p>
      </div>
      <div class="footer-section links">
        <h2>Links Úteis</h2>
        <ul>
          <li><a href="#">Início</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Vagas</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contato</h2>
        <p>Email: contato&#64;gynvagas.com.br</p>
        <p>Telefone: (62) 1234-5678</p>
        <p>Endereço: Rua Exemplo, 123, Goiânia - GO</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 GynVagas. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>

